{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>

    <header class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Страница Остапа Бендера</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if current_page == "home" %}class="active"{% endif %}><a href="/">Главная</a></li>
                    <li {% if current_page == "study" %}class="active"{% endif %}><a href="/study">Учёба</a></li>
                    <li {% if current_page == "work" %}class="active"{% endif %}><a href="/work">Работа</a></li>
                    <li {% if current_page == "quotes" %}class="active"{% endif %}><a href="/quotes">Мои крылатые фразы</a></li>
                </ul>
            </div>

        </div>
    </header>

    <main>
        <section>
            <div class="container">
                <div class="row row-centered">
                    <div class="col-md-4">
                        <img src="{% static "img/avatarOstapBender.jpeg" %}" class = "img-thumbnail" alt="Остап Бендер" width="350px" height="350px">
                    </div>

                    <div class="col-md-6">
                        <h1>{{ person.name }}</h1>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="row row-centered text-center">
            <div class="col-md-12">
                <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D0%B0%D0%BF_%D0%91%D0%B5%D0%BD%D0%B4%D0%B5%D1%80"><cite>По материалам wikipedia</cite></a>
            </div>
        </div>
    </footer>
</body>
</html>