{% extends "base.html" %}

{% block title %}
    Мои крылатые фразы
{% endblock %}

{% block content %}
    <h2>Мои крылатые фразы</h2>
    {% for item in quotes %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#quote_{{ forloop.counter }}">{{ item.title }}</a>
          </h4>
        </div>
        <div id="quote_{{ forloop.counter }}" class="panel-collapse collapse">
          <div class="panel-body">
            {{ item.link|safe }}
          </div>
        </div>
      </div>
    {% empty %}
        <p>Пок ни одной крылатой фразы не добавлено</p>
    {% endfor %}
{% endblock %}